PANDAS

In [15]:
#import pandas
import pandas as pd

Pandas Series

In [9]:
l = [x*5 for x in range(7)]
#to convert it to series..
ls = pd.Series(l)
ls
#outputs in form index and elements

0     0
1     5
2    10
3    15
4    20
5    25
6    30
dtype: int64

In [11]:
#to change the indices..
ls2 = pd.Series(l, index=['m', 'n', 'p', 'q', 'a', 'b', 'c'])
ls2

m     0
n     5
p    10
q    15
a    20
b    25
c    30
dtype: int64

In [13]:
#we can even not give unique indices
ls3 = pd.Series(l, index=['m', 'n', 'p', 'q', 'a', 'b', 'b'])
ls3['b']

b    25
b    30
dtype: int64

In [14]:
#we can even use dictionaries to create series data
dictdata = {'a':2, 'b':5, 'c':9, 'm':7, 'n':4}
ser_dict_data = pd.Series(dictdata)
ser_dict_data

a    2
b    5
c    9
m    7
n    4
dtype: int64

In [15]:
#less considerables
ser_dict_data2 = pd.Series(dictdata, index=['b', 'm'])
ser_dict_data2

b    5
m    7
dtype: int64

In [16]:
#use only valid indices
ser_dict_data3 = pd.Series(dictdata, index=['b', 'm', 'x'])
ser_dict_data3
#observe the NaN value

b    5.0
m    7.0
x    NaN
dtype: float64

As pandas uses numpy in the background the operations are very fast

In [18]:
#to access element at nth position use iloc or iat method
print(ls.iloc[4])
print(ls.iat[6])

20
30

In [22]:
#slicing is also similar
print(ls[3:7])
print(ls[-7:-3]) #order must always be lowerval:higherval

3    15
4    20
5    25
6    30
dtype: int64
0     0
1     5
2    10
3    15
dtype: int64

In [23]:
#using where method it returns value if condn is satisfied and null val if condn is not satisfied
ls.where(ls%3 == 0)

0     0.0
1     NaN
2     NaN
3    15.0
4     NaN
5     NaN
6    30.0
dtype: float64

In [24]:
#value can bee specified if the condition is false
ls.where(ls%2 == 0, 'odd')

0      0
1    odd
2     10
3    odd
4     20
5    odd
6     30
dtype: object

In [25]:
#we can even do arithmetic oprn on false statement
ls.where(ls%2 == 0, ls**3)

0        0
1      125
2       10
3     3375
4       20
5    15625
6       30
dtype: int64

In [26]:
ls.where(ls%2 == 0, inplace=True)

In [27]:
#Return a new Series with missing values removed.
ls.dron()

0     0.0
2    10.0
4    20.0
6    30.0
dtype: float64

In [28]:
#Fill NA/NaN values using the specified method.
ls.fillna('this was NAN value')

0                   0.0
1    this was NAN value
2                  10.0
3    this was NAN value
4                  20.0
5    this was NAN value
6                  30.0
dtype: object

Pandas Dataframe

In [29]:
#create a dataframe
df1 = pd.DataFrame()

In [30]:
#check the type of data frame
type(df1)

pandas.core.frame.DataFrame

In [34]:
#read csv file
df1 = pd.read_csv('parks.csv')

In [35]:
#outputs first 5 lines by default
df1.head()
#similarly tail returns last 5 lines by default

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [36]:
#outputs specified lines
df1.head(7)
#similarly tail returns last few lines as specified

,Park Code,Park Name,State,Acres,Latitude,Longitude
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21
1,ARCH,Arches National Park,UT,76519,38.68,-109.57
2,BADL,Badlands National Park,SD,242756,43.75,-102.50
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18

In [37]:
df1.iloc[3]

Park Code                      BIBE
Park Name    Big Bend National Park
State                            TX
Acres                        801163
Latitude                      29.25
Longitude                   -103.25
Name: 3, dtype: object

In [39]:
#outputs rows as arrays
df1.values

array([['ACAD', 'Acadia National Park', 'ME', 47390, 44.35, -68.21],
       ['ARCH', 'Arches National Park', 'UT', 76519, 38.68, -109.57],
       ['BADL', 'Badlands National Park', 'SD', 242756, 43.75, -102.5],
       ['BIBE', 'Big Bend National Park', 'TX', 801163, 29.25, -103.25],
       ['BISC', 'Biscayne National Park', 'FL', 172924, 25.65, -80.08],
       ['BLCA', 'Black Canyon of the Gunnison National Park', 'CO',
        32950, 38.57, -107.72],
       ['BRCA', 'Bryce Canyon National Park', 'UT', 35835, 37.57,
        -112.18],
       ['CANY', 'Canyonlands National Park', 'UT', 337598, 38.2, -109.93],
       ['CARE', 'Capitol Reef National Park', 'UT', 241904, 38.2,
        -111.17],
       ['CAVE', 'Carlsbad Caverns National Park', 'NM', 46766, 32.17,
        -104.44],
       ['CHIS', 'Channel Islands National Park', 'CA', 249561, 34.01,
        -119.42],
       ['CONG', 'Congaree National Park', 'SC', 26546, 33.78, -80.78],
       ['CRLA', 'Crater Lake National Park', 'OR', 183224, 42.94, -122.1],
       ['CUVA', 'Cuyahoga Valley National Park', 'OH', 32950, 41.24,
        -81.55],
       ['DENA', 'Denali National Park and Preserve', 'AK', 3372402,
        63.33, -150.5],
       ['DEVA', 'Death Valley National Park', 'CA, NV', 4740912, 36.24,
        -116.82],
       ['DRTO', 'Dry Tortugas National Park', 'FL', 64701, 24.63, -82.87],
       ['EVER', 'Everglades National Park', 'FL', 1508538, 25.32, -80.93],
       ['GAAR', 'Gates Of The Arctic National Park and Preserve', 'AK',
        7523898, 67.78, -153.3],
       ['GLAC', 'Glacier National Park', 'MT', 1013572, 48.8, -114.0],
       ['GLBA', 'Glacier Bay National Park and Preserve', 'AK', 3224840,
        58.5, -137.0],
       ['GRBA', 'Great Basin National Park', 'NV', 77180, 38.98, -114.3],
       ['GRCA', 'Grand Canyon National Park', 'AZ', 1217403, 36.06,
        -112.14],
       ['GRSA', 'Great Sand Dunes National Park and Preserve', 'CO',
        42984, 37.73, -105.51],
       ['GRSM', 'Great Smoky Mountains National Park', 'TN, NC', 521490,
        35.68, -83.53],
       ['GRTE', 'Grand Teton National Park', 'WY', 309995, 43.73, -110.8],
       ['GUMO', 'Guadalupe Mountains National Park', 'TX', 86416, 31.92,
        -104.87],
       ['HALE', 'Haleakala National Park', 'HI', 29094, 20.72, -156.17],
       ['HAVO', 'Hawaii Volcanoes National Park', 'HI', 323431, 19.38,
        -155.2],
       ['HOSP', 'Hot Springs National Park', 'AR', 5550, 34.51, -93.05],
       ['ISRO', 'Isle Royale National Park', 'MI', 571790, 48.1, -88.55],
       ['JOTR', 'Joshua Tree National Park', 'CA', 789745, 33.79, -115.9],
       ['KATM', 'Katmai National Park and Preserve', 'AK', 3674530, 58.5,
        -155.0],
       ['KEFJ', 'Kenai Fjords National Park', 'AK', 669983, 59.92,
        -149.65],
       ['KOVA', 'Kobuk Valley National Park', 'AK', 1750717, 67.55,
        -159.28],
       ['LACL', 'Lake Clark National Park and Preserve', 'AK', 2619733,
        60.97, -153.42],
       ['LAVO', 'Lassen Volcanic National Park', 'CA', 106372, 40.49,
        -121.51],
       ['MACA', 'Mammoth Cave National Park', 'KY', 52830, 37.18, -86.1],
       ['MEVE', 'Mesa Verde National Park', 'CO', 52122, 37.18, -108.49],
       ['MORA', 'Mount Rainier National Park', 'WA', 235625, 46.85,
        -121.75],
       ['NOCA', 'North Cascades National Park', 'WA', 504781, 48.7,
        -121.2],
       ['OLYM', 'Olympic National Park', 'WA', 922651, 47.97, -123.5],
       ['PEFO', 'Petrified Forest National Park', 'AZ', 93533, 35.07,
        -109.78],
       ['PINN', 'Pinnacles National Park', 'CA', 26606, 36.48, -121.16],
       ['REDW', 'Redwood National Park', 'CA', 112512, 41.3, -124.0],
       ['ROMO', 'Rocky Mountain National Park', 'CO', 265828, 40.4,
        -105.58],
       ['SAGU', 'Saguaro National Park', 'AZ', 91440, 32.25, -110.5],
       ['SEKI', 'Sequoia and Kings Canyon National Parks', 'CA', 865952,
        36.43, -118.68],
       ['SHEN', 'Shenandoah National Park', 'VA', 199045, 38.53, -78.35],
       ['THRO', 'Theodore Roosevelt National Park', 'ND', 70447, 46.97,
        -103.45],
       ['VOYA', 'Voyageurs National Park', 'MN', 218200, 48.5, -92.88],
       ['WICA', 'Wind Cave National Park', 'SD', 28295, 43.57, -103.48],
       ['WRST', 'Wrangell - St Elias National Park and Preserve', 'AK',
        8323148, 61.0, -142.0],
       ['YELL', 'Yellowstone National Park', 'WY, MT, ID', 2219791, 44.6,
        -110.5],
       ['YOSE', 'Yosemite National Park', 'CA', 761266, 37.83, -119.5],
       ['ZION', 'Zion National Park', 'UT', 146598, 37.3, -113.05]],
      dtype=object)

In [3]:
#if the file size is very large...it outputs file in chunks and retuens an iterable
df1 = pd.read_csv('parks.csv', chunksize=5)

In [5]:
for chunk in df1:
    print(chunk)

  Park Code                                   Park Name State   Acres
5      BLCA  Black Canyon of the Gunnison National Park    CO   32950  \
6      BRCA                  Bryce Canyon National Park    UT   35835
7      CANY                   Canyonlands National Park    UT  337598
8      CARE                  Capitol Reef National Park    UT  241904
9      CAVE              Carlsbad Caverns National Park    NM   46766

   Latitude  Longitude
5     38.57    -107.72
6     37.57    -112.18
7     38.20    -109.93
8     38.20    -111.17
9     32.17    -104.44
   Park Code                          Park Name State    Acres  Latitude
10      CHIS      Channel Islands National Park    CA   249561     34.01  \
11      CONG             Congaree National Park    SC    26546     33.78
12      CRLA          Crater Lake National Park    OR   183224     42.94
13      CUVA      Cuyahoga Valley National Park    OH    32950     41.24
14      DENA  Denali National Park and Preserve    AK  3372402     63.33

    Longitude
10    -119.42
11     -80.78
12    -122.10
13     -81.55
14    -150.50
   Park Code                                       Park Name   State    Acres
15      DEVA                      Death Valley National Park  CA, NV  4740912  \
16      DRTO                      Dry Tortugas National Park      FL    64701
17      EVER                        Everglades National Park      FL  1508538
18      GAAR  Gates Of The Arctic National Park and Preserve      AK  7523898
19      GLAC                           Glacier National Park      MT  1013572

    Latitude  Longitude
15     36.24    -116.82
16     24.63     -82.87
17     25.32     -80.93
18     67.78    -153.30
19     48.80    -114.00
   Park Code                                    Park Name   State    Acres
20      GLBA       Glacier Bay National Park and Preserve      AK  3224840  \
21      GRBA                    Great Basin National Park      NV    77180
22      GRCA                   Grand Canyon National Park      AZ  1217403
23      GRSA  Great Sand Dunes National Park and Preserve      CO    42984
24      GRSM          Great Smoky Mountains National Park  TN, NC   521490

    Latitude  Longitude
20     58.50    -137.00
21     38.98    -114.30
22     36.06    -112.14
23     37.73    -105.51
24     35.68     -83.53
   Park Code                          Park Name State   Acres  Latitude
25      GRTE          Grand Teton National Park    WY  309995     43.73  \
26      GUMO  Guadalupe Mountains National Park    TX   86416     31.92
27      HALE            Haleakala National Park    HI   29094     20.72
28      HAVO     Hawaii Volcanoes National Park    HI  323431     19.38
29      HOSP          Hot Springs National Park    AR    5550     34.51

    Longitude
25    -110.80
26    -104.87
27    -156.17
28    -155.20
29     -93.05
   Park Code                          Park Name State    Acres  Latitude
30      ISRO          Isle Royale National Park    MI   571790     48.10  \
31      JOTR          Joshua Tree National Park    CA   789745     33.79
32      KATM  Katmai National Park and Preserve    AK  3674530     58.50
33      KEFJ         Kenai Fjords National Park    AK   669983     59.92
34      KOVA         Kobuk Valley National Park    AK  1750717     67.55

    Longitude
30     -88.55
31    -115.90
32    -155.00
33    -149.65
34    -159.28
   Park Code                              Park Name State    Acres  Latitude
35      LACL  Lake Clark National Park and Preserve    AK  2619733     60.97  \
36      LAVO          Lassen Volcanic National Park    CA   106372     40.49
37      MACA             Mammoth Cave National Park    KY    52830     37.18
38      MEVE               Mesa Verde National Park    CO    52122     37.18
39      MORA            Mount Rainier National Park    WA   235625     46.85

    Longitude
35    -153.42
36    -121.51
37     -86.10
38    -108.49
39    -121.75
   Park Code                       Park Name State   Acres  Latitude
40      NOCA    North Cascades National Park    WA  504781     48.70  \
41      OLYM           Olympic National Park    WA  922651     47.97
42      PEFO  Petrified Forest National Park    AZ   93533     35.07
43      PINN         Pinnacles National Park    CA   26606     36.48
44      REDW           Redwood National Park    CA  112512     41.30

    Longitude
40    -121.20
41    -123.50
42    -109.78
43    -121.16
44    -124.00
   Park Code                                Park Name State   Acres  Latitude
45      ROMO             Rocky Mountain National Park    CO  265828     40.40  \
46      SAGU                    Saguaro National Park    AZ   91440     32.25
47      SEKI  Sequoia and Kings Canyon National Parks    CA  865952     36.43
48      SHEN                 Shenandoah National Park    VA  199045     38.53
49      THRO         Theodore Roosevelt National Park    ND   70447     46.97

    Longitude
45    -105.58
46    -110.50
47    -118.68
48     -78.35
49    -103.45
   Park Code                                       Park Name       State
50      VOYA                         Voyageurs National Park          MN  \
51      WICA                         Wind Cave National Park          SD
52      WRST  Wrangell - St Elias National Park and Preserve          AK
53      YELL                       Yellowstone National Park  WY, MT, ID
54      YOSE                          Yosemite National Park          CA

      Acres  Latitude  Longitude
50   218200     48.50     -92.88
51    28295     43.57    -103.48
52  8323148     61.00    -142.00
53  2219791     44.60    -110.50
54   761266     37.83    -119.50
   Park Code           Park Name State   Acres  Latitude  Longitude
55      ZION  Zion National Park    UT  146598      37.3    -113.05

In [9]:
df2 = df1['Acres']>45000

TypeError: 'TextFileReader' object is not subscriptable

PLOTTING WITH PANDAS

In [10]:
#to plot use .plot() method
df1 = pd.read_csv('parks.csv')

In [11]:
df1.columns

Index(['Park Code', 'Park Name', 'State', 'Acres', 'Latitude', 'Longitude'], dtype='object')

In [18]:
df1.plot(x='Acres', y='Latitude', kind='scatter')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.